.pswp {
    --pswp-bg: #000;
    --pswp-placeholder-bg: #222;

    --pswp-root-z-index: 100000;

    --pswp-preloader-color: rgba(79, 79, 79, 0.4);
    --pswp-preloader-color-secondary: rgba(255, 255, 255, 0.9);

    /* 
     * defined via js:
     * --pswp-transition-duration: 333ms; 
    */

    --pswp-icon-color: #fff;
    --pswp-icon-color-secondary: #4f4f4f;
    --pswp-icon-stroke-color: #4f4f4f;
    --pswp-icon-stroke-width: 2px;

    --pswp-error-text-color: var(--pswp-icon-color);
}

/*
	Styles for basic PhotoSwipe (pswp) functionality (sliding area, open/close transitions)
*/

.pswp {
    @apply fixed left-0 top-0 z-[var(--pswp-root-z-index)] hidden size-full touch-none opacity-[.003] outline-0;

    contain: layout style size;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Prevents focus outline on the root element,
 * (it may be focused initially)
 */
.pswp:focus {
    @apply outline-0;
}

.pswp * {
    @apply box-border;
}

.pswp .pswp__img.pswp__img--placeholder {
    @apply max-w-none;
}

.pswp--open {
    @apply block;
}

.pswp,
.pswp__bg {
    transform: translateZ(0);
    will-change: opacity;
}

.pswp__bg {
    @apply bg-[var(--pswp-bg)] opacity-[.005];
}

.pswp,
.pswp__scroll-wrap {
    @apply overflow-hidden;
}

.pswp__scroll-wrap,
.pswp__bg,
.pswp__container,
.pswp__item,
.pswp__content,
.pswp__img.pswp__img--placeholder,
.pswp__zoom-wrap {
    @apply absolute left-0 top-0 size-full;
}

.pswp__img.pswp__img--placeholder,
.pswp__zoom-wrap {
    @apply size-auto;
}

.pswp__zoom-wrap,
.pswp__img.pswp__img--placeholder {
    @apply will-change-transform;
}

.pswp--click-to-zoom.pswp--zoom-allowed .pswp__img {
    @apply cursor-zoom-in active:cursor-grabbing;
}

.pswp--click-to-zoom.pswp--zoomed-in .pswp__img {
    @apply cursor-grab active:cursor-grabbing;
}

/* :active to override grabbing cursor */
.pswp--no-mouse-drag.pswp--zoomed-in .pswp__img.pswp__img--placeholder,
.pswp--no-mouse-drag.pswp--zoomed-in .pswp__img.pswp__img--placeholder:active,
.pswp__img.pswp__img--placeholder {
    @apply cursor-zoom-out;
}

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img.pswp__img--placeholder,
.pswp__button,
.pswp__counter {
    @apply select-none;
}

.pswp__item {
    /* z-index for fade transition */
    @apply z-1 cursor-zoom-out overflow-hidden active:cursor-grabbing;
}

.pswp__hidden {
    @apply !hidden;
}

/* Allow to click through pswp__content element, but not its children */
.pswp__content {
    @apply pointer-events-none will-change-[width,height];
}
.pswp__content > * {
    @apply pointer-events-auto;
}

/*

    PhotoSwipe UI

*/

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
.pswp__error-msg-container {
    @apply grid;
}
.pswp__error-msg {
    @apply m-auto text-[1em] leading-none text-[var(--pswp-error-text-color)];
}

/*
    Class pswp__hide-on-close is applied to elements that
    should hide (for example fade out) when PhotoSwipe is closed
    and show (for example fade in) when PhotoSwipe is opened
 */
.pswp .pswp__hide-on-close {
    @apply pointer-events-none z-10 opacity-[.005] will-change-[opacity] transition-opacity ease-[cubic-bezier(0.4,0,0.22,1)] duration-[var(--pswp-transition-duration)];
}

/* class pswp--ui-visible is added when opening or closing transition starts */
.pswp--ui-visible .pswp__hide-on-close {
    @apply opacity-100;
}

/* <button> styles, including css reset */
.pswp__button {
    @apply relative m-0 grid h-[60px] w-[50px] cursor-pointer place-items-center overflow-hidden border-0 bg-none p-0 opacity-[0.85] shadow-none;
    -webkit-touch-callout: none;
}

.pswp__button:hover,
.pswp__button:active,
.pswp__button:focus {
    @apply border-0 bg-none p-0 opacity-100 shadow-none transition-none;
}

.pswp__button:disabled {
    @apply cursor-auto opacity-30;
}

.pswp__icn {
    @apply fill-[var(--pswp-icon-color)] text-[var(--pswp-icon-color-secondary)];
}

.pswp__icn {
    @apply pointer-events-none size-8 overflow-hidden;
}

.pswp__icn-shadow {
    @apply fill-none stroke-[var(--pswp-icon-stroke-color)] stroke-[length:var(--pswp-icon-stroke-width)];
}

.pswp__icn:focus {
    @apply outline-0;
}

/*
	div element that matches size of large image,
	large image loads on top of it,
	used when msrc is not provided
*/
div.pswp__img--placeholder,
.pswp__img--with-bg {
    @apply bg-[var(--pswp-placeholder-bg)];
}

.pswp__top-bar {
    @apply pointer-events-none absolute left-0 top-0 z-10 flex h-[60px] w-full flex-row justify-end;
}
.pswp__top-bar > * {
    @apply pointer-events-auto will-change-[opacity];
}

/*

  Close button

*/
.pswp__button--close {
    @apply mr-[6px];
}

/*

  Arrow buttons

*/
.pswp__button--arrow {
    @apply absolute top-1/2 h-[100px] w-[75px] -translate-y-1/2;
}

.pswp__button--arrow:disabled {
    @apply hidden cursor-not-allowed;
}

.pswp__button--arrow .pswp__icn {
    @apply size-[60px] rounded-none bg-none;
}

.pswp--one-slide .pswp__button--arrow {
    @apply hidden;
}

/* hide arrows on touch screens */
.pswp--touch .pswp__button--arrow {
    @apply invisible;
}

/* show arrows only after mouse was used */
.pswp--has_mouse .pswp__button--arrow {
    @apply visible;
}

.pswp__button--arrow--prev {
    @apply left-0;
}

.pswp__button--arrow--next {
    @apply right-0;
}
.pswp__button--arrow--next .pswp__icn {
    @apply left-auto right-[14px] scale-x-[-1];
}

/*

  Zoom button

*/
.pswp__button--zoom {
    @apply hidden;
}

.pswp--zoom-allowed .pswp__button--zoom {
    @apply block;
}

/* "+" => "-" */
.pswp--zoomed-in .pswp__zoom-icn-bar-v {
    @apply hidden;
}

/*

  Loading indicator

*/
.pswp__preloader {
    @apply relative me-auto h-[60px] w-[50px] overflow-hidden;
}

.pswp__preloader .pswp__icn {
    @apply opacity-0 transition-opacity ease-linear duration-200;

    animation: pswp-clockwise 600ms linear infinite;
}

.pswp__preloader--active .pswp__icn {
    @apply opacity-85;
}

@keyframes pswp-clockwise {
    0% {
        @apply rotate-0;
    }
    100% {
        @apply rotate-360;
    }
}

/*

  "1 of 10" counter

*/
.pswp__counter {
    @apply ms-[20px] mt-[15px] h-[30px] text-sm leading-[30px] text-[var(--pswp-icon-color)] opacity-85;

    text-shadow: 1px 1px 3px var(--pswp-icon-color-secondary);
}

.pswp--one-slide .pswp__counter {
    @apply hidden;
}
